

<div class="main-body">
    <main>
        <div class="container bg-grey">




            <div class="left-side">
                <div class="userimage">
                    <div class="backcover">
                        
                    </div><div class="headEr">
                    <div class="imgp">
                        <img src="<%=user.avatar%>" alt="<%=user.name%>">
                    </div>
                
                <div class="user-name">
                    <%=user.name%>
                </div>
            </div>
            </div>
            <div style="    padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;"><p style="text-align: center;"><%=user.collegeName%> @ <%=user.year%></p></div>
            </div>





            <div class="post-content gap-4">
                <div class="post-input">
                    <div class="input-1">
                        <div class="avatar">
                        <a href="/users/profile/<%=user.id%>">
                            <img class="avatar" src="<%=user.avatar%>" alt="username">
                        </a>
                    </div>
                    <div class="post-form">
                        <form>
                            <textarea class="post-input-form" onclick="openForm()" oninput="auto_grow(this)" rows="1" placeholder="&nbsp;Share your thoughts..."></textarea>
                        </form>
                        <%- include('post_input_form') -%>
                    </div>
                    </div>
                    <div class="input-2"> 
                        <ul class="icons">
                            <li class="icons-items" onclick="openForm()">Photos</li>
                            <li class="icons-items" onclick="openForm()">Videos</li>
                            <li class="icons-items" onclick="openForm()">Post</li>
                        </ul>
                    </div>
                </div>
                    <div class="posts">
                        <div>
                               <%for(post of posts){%>
                                    <%- include('_post')-%> 
                                       <%}%>
                        </div>
                    </div>
                
               
            </div>
            <div class="right-side" style="max-height: 95%;
            height: fit-content;">
                <div class="follow-head">Trending News</div>
                <div class="followers-container">
                    <%for(var i=0;i<7;i++){%>
                        <div class="follower-item">
                            <a href="<%=data[i].link%>" style="width: 85%;"><%=data[i].title%></a>
                        </div>
                        <%}%>
                </div>
            </div>
        </div>
    </main>
</div>