

<div class="main-body">
    <main>
        <div class="container bg-grey">




            <div class="left-side">
                <div class="userimage">
                    <div class="backcover">
                        
                    </div><div class="headEr">
                    <div class="imgp">
                        <img src="<%=user.avatar%>" alt="<%=user.name%>">
                    </div>
                
                <div class="user-name">
                    <%=user.name%>
                </div>
            </div>
            </div>
            <div style="    padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;"><p style="text-align: center;"><%=user.collegeName%> @ <%=user.year%></p></div>
            </div>





            <div class="post-content gap-4">
                <div class="post-input">
                    <div class="input-1">
                        <div class="avatar">
                        <a href="/users/profile/<%=user.id%>">
                            <img class="avatar" src="<%=user.avatar%>" alt="username">
                        </a>
                    </div>
                    <div class="post-form">
                        <form>
                            <textarea class="post-input-form" onclick="openForm()" oninput="auto_grow(this)" rows="1" placeholder="&nbsp;Share your thoughts..."></textarea>
                        </form>
                        <%- include('post_input_form') -%>
                    </div>
                    </div>
                    <div class="input-2"> 
                        <ul class="icons">
                            <li class="icons-items">Photos</li>
                            <li class="icons-items">Photos</li>
                            <li class="icons-items">Photos</li>
                        </ul>
                    </div>
                </div>
                    <div class="posts">
                        <div>
                               <%for(post of posts){%>
                                    <%- include('_post')-%> 
                                       <%}%>
                        </div>
                    </div>
                
               
            </div>
            <div class="right-side">
                <div class="follow-head">People to follow</div>
                <div class="followers-container">
                    <%for(user of all_users){%>
                        <div class="follower-item">
                            <div class="avatar-1 follower-image">
                                <a href="/users/profile/<%=user.id%>">
                                    <img class="avatar-1" src="<%=user.avatar%>" alt="username">
                                </a>
                            </div>
                            <div class="post-heading follower-name">
                                <div>
                                <h5 style="font-size: 1rem;"><%=user.name %></h5>
                                <small>Web devloper</small></div>
                                  </div>
                                  <div style="display: flex;
                                  justify-content: center;
                                  align-items: center;" class="follow-btn"><i class="fa-regular fa-plus add-btn"></i></div>
                        </div>
                        <%}%>
                </div>
            </div>
        </div>
    </main>
</div>